<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FinancialAppConnection"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FinancialApp;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
